@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
:root{
  --bgcolor:#555;
  --navcolor:#303;
  --hamburgercolor:#000;
  --fontsizelogo:35px;
  --fontsizeh1:50px;
  --fontsizeh2:35px;
  --fontcolor:#bbb;
  --bghover:#555;
  --menuwsize:45vw;
  --menuhsize:100vh;
  --menucolor:rgba(135,206,235,.7);
  --newfont: 'PT Serif', serif;
  --titlecolor:#b98e1f;
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--newfont);
}
h1,h2,h3,h4{
  background: linear-gradient(rgb(255,185,0),rgb(255,87,50));
  -webkit-background-clip : text;
  color: transparent;
  text-align: center;
}
html{scroll-behavior: smooth;}
a{text-decoration: none;}
li{list-style: none;}
h1{font-size:4em;}
h2{font-size: 3em;}
h3{font-size: 2em}
p{font-size: 1.25em;}
input{display:none;}
header{
  position:fixed;
  top:0;  
  z-index: 1000;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.background{
  background-color: #fff;
  opacity: .65;
  position: absolute;
  top:0;
  left:0;
}
.background video{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#navegacion{
  z-index: 1000;
  position: relative;
}
#container-nav{
  position: relative;
}
#showme{
  z-index: 500;
}
#accent{color:#f00;}
.section{max-width: 1000px;}
.container{margin: px 100%;}
.index{margin: 10px 100%;}
.cristal{
  background: linear-gradient(135deg,rgba(255,255,255,.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius:20px;
  border: 1px solid rgba(255,255,255,.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37)
}
#navegacion{
  background: linear-gradient(1deg,rgba(255,255,255,.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius : 10px;
  border : 1px solid rgba(255,255,255,.18);
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.37)
}
#index{
  position: relative;
  right: 0em;

  justify-content: center;
}
#container{
  height: 60vh;
}
#who{
  position: relative;
  right: 0rem;
  bottom: -10rem;
}
#ministry{
  position: relative;
  right: 0rem;
  bottom: -20rem;
}
#contacts{
  position: relative;
  right: 0rem;
  bottom: -30rem;
}
#map{
  height: 80vh;
  height: 500px;
	width: 100%;
}
@media(max-width:1200px){
  html{
      font-size: 55%;
  }
}

@media(max-width:768px){
  header label{
      visibility: visible;
      opacity: 1;
  }
  /* header {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: white;
      padding: 1rem 2rem;
      border-top: .1rem solid rgb( 0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);    
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
  } */

  /* header .navbar a{
      display: block;
      margin: 2rem;
      font-size: 2rem;
  } */

  /* header input:checked ~ .navbar{
      transform: scaleY(1);
      opacity: 1;
  } */

  /* header input:checked ~ label::before{
      content: '\f00d';
  }     */
}

@media(max-width:450px){
  html{
      font-size: 49%;

  }
}